/*
* @Author: jsonj
* @Date:   2017-08-07 23:58:41
* @Last Modified by:   jsonj
* @Last Modified time: 2017-08-11 00:16:25
*/

body{
    /*background-image :url(../../image/banner.jpg);*/
    background: #CCC;
    color: red;
    font-size: 30px;
}